@*@model ProblemsModel*@
@{
    ViewData["Title"] = "Problem Solving";
}
<h1>Problem Solving</h1>

<div>
    <ul>
        <li>
            <a asp-area="" asp-controller="Problems" asp-action="ReverseWordsInString">ReverseWordsInString</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Problems" asp-action="LongestPalindrome">LongestPalindrome</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Problems" asp-action="DistinctCharacters">DistinctCharacters</a>
        </li>
    </ul>
</div>