@model WebSite.Models.ProblemsModel

<h4>@Model.ProblemTitle</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <div>
            <p>Given a String S, reverse the string without reversing its individual words. Words are separated by dots.</p>
            <p><strong>Example 1:</strong></p>
        </div>
        <div>
            <strong>Input: </strong> S = i.like.this.program.very.much
            <strong>Output: </strong> much.very.program.this.like.i
            <strong>Explanation: </strong> After reversing the whole string(not individual words), the input string becomes much.very.program.this.like.i
        </div>
        <div>
            <p><strong>Example 2:</strong></p>
        </div>
        <div>
            <strong>Input: </strong> S = pqr.mno
            <strong>Output: </strong> mno.pqr
            <strong>Explanation: </strong> After reversing the whole string , the input string becomes mno.pqr
        </div>
    </div>
    <div class="col-md-6">
        <form asp-action="ReverseWords">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="InputString" class="form-control" />
                <span asp-validation-for="InputString" class="text-danger"></span>
                <label asp-for="StringAnswer" class="control-label"></label>
                @{
                    if (!string.IsNullOrEmpty(Model.StringAnswer))
                    {
                        <p>@Model.StringAnswer</p>
                    }
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Reverse" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
