@model WebSite.Models.ProblemsModel

<h4>@Model.ProblemTitle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetPermutations">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ListStringAnswer" class="control-label"></label>
                @{
                    if (Model.ListStringAnswer != null && Model.ListStringAnswer.Count != 0)
                    {
                        foreach (string permutation in Model.ListStringAnswer)
                        {
                            <p>@permutation</p>;
                        }
                    }
                }
                <input asp-for="InputString" class="form-control" />
                <span asp-validation-for="InputString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Permutations" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
