@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h2>Problem Solving Resources</h2>
    <ul>
        <li>
            <a href="https://www.geeksforgeeks.org/must-do-coding-questions-for-companies-like-amazon-microsoft-adobe/">
                GeeksForGeeks: Must do coding questions for companies like amazon microsoft adobe    
            </a>
        </li>
        <li>
            <a href="https://www.geeksforgeeks.org/practice-for-cracking-any-coding-interview/">
                Practice for cracking any coding interview
            </a>
        </li>
    </ul>
</div>
